<h2>Our Members</h2>

<% @members.each do |member| %>

<p><a href="/members/<%= member.id %>"> <%=member.name%></a></p>


<% end %>

<form action="/members/new" method="GET"><input type="submit" value="New Member"></form>
