<form action="/members" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">

  <label for="reg_d">Date:</label>
  <input type="text" name="registration_date" id="reg_d">

  <label for="mem_type">Membership Type:</label>
  <select name="membership_type" id = "mem_type">
           <option value = "Standard">Standard</option>
           <option value = "Golden">Golden</option>
         </select>

<label for="pic_url">Picture:</label>
<input type="file" name="pic_url" value="/images/download.jpeg" class=""/>

    <input type="submit" value="Register Member"/>

</form>
