<h2 class="welcome">Welcome</h2>
<h3 class="welcome">This project was built using Sinatra, Ruby and PostgreSQL</h3>

<p class="welcome">Keeler's is a gym which caters exlusivley to the most deranged and wicked of individuals. This app allows staff to add new classes to the time table and book members into those classes.</p>
<p class="welcome">Members of the public are advised against attending class or being anywhere near the gym at any time..</p>
