<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lobster|Monoton|Righteous|Shrikhand" rel="stylesheet">
    <meta charset="utf-8">
    <title>Keeler's Gym</title>
    <link rel="icon" href="/images/icon_knife.png">

  </head>
  <body>

    <div class="grid-container">
      <div class="item1">
         <header>

           <img src="/images/icon_knife_b.png" alt="">
          <h1>Keeler's Gym</h1>

        <h3>Keep'em Running</h3>
        </header>
      </div>
      <div class="item2">
      <nav>
        <ul>
          <li><a href="/bookings">Bookings</a></li>
          <li><a href="/members">Members</a></li>
          <li><a href="/classes">Classes</a></li>
        </ul>
      </nav></div>
      <div class="item3">
           <div class="insert">
              <%= yield %>

            </div>
    </div>
    </div>





  </body>
</html>
