*{
  margin:0px;
  padding: 0px;
};

body{
  background-color: lightgray;
};

h1{
  margin: 10px;
};

nav{
  display: inline-block;
  margin: 10px;
};


p{
  margin: 10px;
  padding: 10px;
};

a{
  style: none;
  color: red;
}
