<form action="" method="post">

  <label for="mem_type">Member:</label>
    <select name="membership_type" id = "mem_type">
    <% @bookings.each do |booking_ins| %>
    <option value="<%= booking_ins.member_id %>"><%= booking_ins.member_n%></option>
    <% end  %>
    </select>

  <label for="mem_type">Class:</label>
    <select name="membership_type" id = "mem_type">
      <% @bookings.each do |booking_ins|%>
      <option value="<%= booking_ins.class_id %>"><%=booking_ins.class_type %> </option>
      <% end  %>
    </select>
  <input type="submit" value="Update"/>
</form>
