<h1>Bookings</h1>
<% @bookings.each do |booking|  %>

<p><a href="bookings/<%= booking['booking_id'] %>">Class: <%= booking['type'] %> <%= booking['time'].slice(0..4) %> | Member: <%= booking['name'] %></a></p>
<p></p>


<% end %>
