<h2>Booking</h2>

<p><%= @booking.member_name %> | <%= @booking.class_type.capitalize %> </p>



<form action="/bookings/<%=@booking.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
<form action="/bookings/<%=@booking.id %>/edit" method="GET"><input type="submit" value="Edit"></form>
