

<%= @show['type'] %>



<form action="/bookings" method="GET"><input type="submit" value="Add Booking"></form>
<form action="/bookings" method="POST"><input type="submit" value="Delete"></form>
<form action="/bookings" method="GET"><input type="submit" value="Edit"></form>
