<table>
  <tr>
    <th>Class</th>
    <th>Time</th>
    <th>Date</th>
  </tr>
  <% @upclasses.each do |upclass| %>
  <tr>
    <td><a href="#"><%= upclass.type %></a></td>
    <td><a href="#"><%= upclass.time %></a></td>
    <td><a href="#"><%= upclass.date %></a></td>
  </tr>
  <% end %>
