<h2>Classes</h2>

<% @classes.each do |fclass| %>

<p>Class: <a href="/classes/<%= fclass.id %>"> <%=fclass.type%></a></p>

<% end %>

<form action="/classes/new" method="GET"><input type="submit" value="Add Class"></form>

<h2>Up-Coming Classes</h2>



<% @upcoming.each do |upclass| %>
<div class="members-list">
<h3> <%= upclass.type %> : <%= upclass.time %> </h3>
</div>
<% end %>
