<form action="/classes" method="post">
  <label for="type">Type: </label>
  <input type="text" name="type" id="type">

  <label for="time">Time:</label>
  <input type="time" name="time" id="time">

  <label for="date">Date:</label>
  <input type="date" name="date" id="date">

  <label for="capacity">Capacity:</label>
  <input type="number" name="capacity" id="capacity">

  <label for="tier">Tier:</label>
  <select name="tier" id = "">
    <option value="Standard">Standard</option>
    <option value="Golden">Golden</option>
  </select>


    <input type="submit" value="Add Class"/>

</form>
